@charset "UTF-8";
header .page-top-area {
  max-width: 1024px;
  margin: 20px auto;
  overflow: hidden;
}
header .page-top-area .page-logo {
  float: left;
  width: 100px;
  height: 50px;
  background: #888;
  color: #fff;
  text-align: center;
  line-height: 50px;
}
header .page-top-area .language-changer {
  float: right;
  overflow: hidden;
}
header .page-top-area .language-changer button {
  float: right;
  width: 80px;
  height: 30px;
  margin-left: 10px;
}
header h1 {
  margin-top: 20px;
}
header h1 .main-visual-img {
  width: 1024px;
  height: 400px;
  margin: 0 auto;
  background: #888;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  line-height: 400px;
}
header nav {
  border-bottom: 1px solid #888;
}
header nav .nav-inner {
  max-width: 1024px;
  margin: 20px auto;
  font-size: 1.2em;
}
header nav .nav-inner > ul {
  text-align: center;
}
header nav .nav-inner > ul > li {
  display: inline;
  margin: 0 20px;
}
header nav .nav-inner > ul > li:first-child {
  margin-left: 0;
}
@media screen and (max-width: 640px) {
  header nav .nav-inner > ul > li {
    display: block;
    margin: 20px 0;
  }
}
.main-container {
  max-width: 1024px;
  margin: 0 auto;
}
.main-container section {
  margin-top: 30px;
}
.main-container section h1 {
  margin: 20px 0;
  font-size: 2em;
}
.main-container section .sample-contents > li {
  float: left;
  margin: 20px;
}
@media screen and (max-width: 640px) {
  .main-container section .sample-contents > li {
    float: none;
    margin: 20px;
  }
  .main-container section .sample-contents > li .sample-box {
    margin: 0 auto;
  }
}
.main-container section .sample-box {
  width: 200px;
  height: 200px;
  background: #888;
  color: #fff;
  text-align: center;
  line-height: 200px;
}
.main-container section .mod-media-left {
  overflow: hidden;
}
.main-container section .mod-media-left .media-left {
  float: left;
}
